<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>The home page!!!!  <%= 'hello world'.toUpperCase() %></h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore facilis voluptatum tenetur, unde enim, veritatis porro iure ducimus consectetur odit velit eos ipsum beatae assumenda, expedita blanditiis ab dolorem praesentium.</p>
</body>
</html>